html {
    height: 100%;
}

body {
    background: linear-gradient(#444, #222);
    min-width: 100vw;
    margin: 0;
    position:fixed;
    overflow:hidden;
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-shadow: 0 1px #000;
}

.page {
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

}

.content {
    margin: 5px;
}

#iGame {
    position: absolute;
    top: 0;
    transform: translateX(100vw);
}

.swipe-in {
     animation-name: swipe-in;
     animation-fill-mode: forwards;
     animation-duration: 0.7s;
 }

@keyframes swipe-in {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

.swipe-out {
    animation-name: swipe-out;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }
}
.swipe-in-left {
    animation-name: swipe-in-left;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-in-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

.swipe-out-right {
    animation-name: swipe-out-right;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-out-right {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px auto;
    width: calc(100vmin - 10px);
}
.grid-item, .list-button, .mini-button, .close-button {
    border:  1px transparent;
    border-radius: 2vmin;
    box-shadow: 0 0 0.5vmin 2px #000;
    background-image: linear-gradient(#333, #444 35%, #222 100%), linear-gradient(#bbb, #444 8%, #111 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
}
.grid-item {
    height: calc(33vmin - 18px);
}
.grid-item:hover, .list-button:hover, .mini-button:hover, .close-button:hover {
    background-image: linear-gradient(#444, #555 35%, #333 100%), linear-gradient(#ccc, #555 8%, #222 100%);
}
.grid-item:active, .list-button:active, .mini-button:active, .close-button:active {
    background-image: linear-gradient(#393939, #111 35%, #292929 100%), linear-gradient(#222, #111 92%, #888 100%);
}
.grid-item:active > img{
    margin-top: 0.1em;
}
.svg-xo {
    animation: 1s xoFadeIn;
    animation-fill-mode: forwards;
}
@keyframes xoFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
.svg-xo-dimmed {
    animation: 1s xoDimm;
    animation-fill-mode: forwards;
}
@keyframes xoDimm {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

#iMessage {
    position: absolute;
    top: 10px;
    left: 10px;

}

.popup {
    display: block;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    border:  1px transparent;
    border-radius: 15px;
    box-shadow: 3px 3px 3vmin 3px #000;
    background-image: linear-gradient(#333, #444 35%, #222 100%), linear-gradient(#bbb, #444 10%, #111 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 2px;
    width: 400px;
    max-width: calc(100vw - 40px);
}
.popup-init {
    visibility: hidden;
    opacity: 0;
}
.popup-show {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}
.popup-show-slow {
    /*visibility: visible;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;*/
    animation: 3s fadeInSlow;
    animation-fill-mode: forwards;
}
.popup-hide {
    animation: 1s fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes fadeInSlow {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
         visibility: visible;
         opacity: 1;
     }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
.popup-head {
    height: 50px;
    margin: 10px;
}
.popup-body {
    margin: 20px;
}
.popup-content {
    margin-bottom: 20px;
}
.popup-footer {
    height: 50px;
    margin: 20px;
}
#iPopupScore {
    top: 123px;
}
#iPopupInfo {
    top: 20px;
    max-height: calc(100% - 30px);
    overflow-y: auto;
}

.button {
    float: right;
    border:  1px transparent;
    border-radius: 10px;
    box-shadow: 0 0 0.5vmin 2px #000;
    text-shadow: 1px 1px 2px #500000;
    background-image: linear-gradient(#de0139, #ff0142 35%, #830110 100%), linear-gradient(#ffbabc, #e33a33 8%, #55010a 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 2px;
    height: 40px;
    width: 100px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
.button:hover {
    background-image: linear-gradient(#ee1149, #ff2162 35%, #931120 100%), linear-gradient(#ffcacc, #f34a43 8%, #65111a 100%);
}
.button:active {
    background-image: linear-gradient(#830110, #ff0142 35%, #de0139 100%), linear-gradient(#55010a, #e33a33 92%, #ffbabc 100%);;
}
.button-span {
    margin-top: 10px;
}
.button-span:active {
    margin-top: 12px;
}
.mini-button {
    border-radius: 10px;
    width: 60px;
    height: 40px;
    float: right;
}
.mini-buttonlist {
    height: 60px;
}
.mini-img {
    margin: 5px 15px 5px 15px;
    max-height: calc(100% - 10px);
}
.close-button {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.text-img {
    height: 20px;
    margin-top: 3px;
    margin-bottom: -3px;
}

/* unvisited link */
a:link {
    color: #ee1149;
}
a:visited {
    color: #de0139;
}
a:hover {
    color: #ff2162;
}
a:active {
    color: #ff2162;
}
.w60 {
    width: 60px;
}
.w25 {
    width: calc(25% - 4px);
}
table {
    border-collapse: collapse;
    width: 100%;
}
#tLinks tr {
    height: 65px;
}

@media (orientation: landscape) {
    .list-button {
        display: inline-block;
        width: calc(25vw - 21px);
        text-align: center;
    }
    .list-button > div {
        margin-top: 20px;
        margin-bottom: 20px;
        pointer-events: none;
    }
    .button-img {
        max-width: calc(100% - 40px);
        margin-top: 20px;
        pointer-events: none;
    }
}

@media (orientation: portrait) {
    .list-button {
        /*width: calc(100% - 28px);*/
    }
    .list-button > div {
        display: inline;
        pointer-events: none;
    }
    .button-img {
        margin: 20px;
        vertical-align: middle;
        max-height: calc(100% - 40px);
        pointer-events: none;
    }
}






/* Main styles */

#title1 {
    stroke: #abb;
    fill: none;
    stroke-width: 3px;
    font: 3.8em/1 Open Sans, Impact;
}

.text {
    fill: none;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
    font: 3.8em/1 Open Sans, Impact;
}
.text:nth-child(5n + 1) {
    stroke: #ff0142;
    animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
    stroke: #b9c1cF;
    animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
    stroke: #ffff;
    animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
    stroke: #ce0134;
    animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
    stroke: #99a1aF;
    animation-delay: -6s;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: -400px;
    }
}
/* Other styles */
