html {
    height: 100%;
}

body {
    background: linear-gradient(#444, #222);
    min-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
}

.page {
    width: 100vw;
}

.content {
    margin: 5px;
}

#iGame {
    position: absolute;
    top: 0;
    transform: translateX(100vw);
}

.swipe-in {
     animation-name: swipe-in;
     animation-fill-mode: forwards;
     animation-duration: 0.7s;
 }

@keyframes swipe-in {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

.swipe-out {
    animation-name: swipe-out;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px auto;
    width: calc(100vmin - 10px);
}
.grid-item, .list-button {
    border:  1px transparent;
    border-radius: 2vmin;
    box-shadow: 0 0 0.5vmin 2px #000;
    background-image: linear-gradient(#333, #444 35%, #222 100%), linear-gradient(#bbb, #444 8%, #111 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
}
.grid-item {
    height: calc(33vmin - 18px);
}
.grid-item:hover, .list-button:hover {
    background-image: linear-gradient(#444, #555 35%, #333 100%), linear-gradient(#ccc, #555 8%, #222 100%);
}
.grid-item:active, .list-button:active {
    background-image: linear-gradient(#393939, #111 35%, #292929 100%), linear-gradient(#222, #111 92%, #888 100%);
}
.svg-xo {
    animation: 1s xoFadeIn;
    animation-fill-mode: forwards;
}
@keyframes xoFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
.svg-xo-dimmed {
    animation: 1s xoDimm;
    animation-fill-mode: forwards;
}
@keyframes xoDimm {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.popup {
    display: block;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 123px;
    border:  1px transparent;
    border-radius: 15px;
    box-shadow: 3px 3px 3vmin 3px #000;
    background-image: linear-gradient(#333, #444 35%, #222 100%), linear-gradient(#bbb, #444 10%, #111 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 2px;
    height: 200px;
    width: 400px;
    max-width: calc(100vw - 40px);
}
.popup-init {
    visibility: hidden;
    opacity: 0;
}
.popup-show {
    /*visibility: visible;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;*/
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
}
.popup-hide {
    animation: 1s fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
         visibility: visible;
         opacity: 1;
     }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
.popup-head {
    height: 50px;
    margin: 10px;
}
.popup-body {
    margin: 20px;
}

.button {
    position:absolute;
    bottom: 10px;
    right: 10px;
    border:  1px transparent;
    border-radius: 10px;
    box-shadow: 0 0 0.5vmin 2px #000;
    text-shadow: 1px 1px 2px #500000;
    background-image: linear-gradient(#de0139, #ff0142 35%, #830110 100%), linear-gradient(#ffbabc, #e33a33 8%, #55010a 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 2px;
    height: 40px;
    width: 100px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
.button:hover {
    background-image: linear-gradient(#ee1149, #ff2162 35%, #931120 100%), linear-gradient(#ffcacc, #f34a43 8%, #65111a 100%);
}
.button:active {
    background-image: linear-gradient(#830110, #ff0142 35%, #de0139 100%), linear-gradient(#55010a, #e33a33 92%, #ffbabc 100%);;
}
.button-span {
    margin-top: 10px;
}
.button-span:active {
    margin-top: 12px;
}

.iTitle1 {
    width: 30%;
}
.iTitle2 {
    width: 70%;
}


@media (orientation: landscape) {
    .list-button {
        display: inline-block;
        width: 20vw;
        text-align: center;
    }
    .list-button > div {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .button-img {
        max-width: calc(100% - 40px);
        margin-top: 20px;
    }
}

@media (orientation: portrait) {
    .list-button {
        /*width: calc(100% - 28px);*/
    }
    .list-button > div {
        display: inline;
    }
    .button-img {
        margin: 20px;
        vertical-align: middle;
        max-height: calc(100% - 40px);
    }
}






/* Main styles */

.text {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
    font: 3.8em/1 Open Sans, Impact;
}
.text:nth-child(5n + 1) {
    stroke: #F2385A;
    animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
    stroke: #F5A503;
    animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
    stroke: #E9F1DF;
    animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
    stroke: #56D9CD;
    animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
    stroke: #3AA1BF;
    animation-delay: -6s;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}
/* Other styles */
